#e0_3 { 
	overflow:hidden;
	background-color:rgba(231.00000143051147, 188.0000039935112, 145.00000655651093, 1);
	opacity:1;
	width:1440px;
	height:1846px;
	position:absolute;
}
#e11_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:530px;
	height:189px;
	position:absolute;
	left:455px;
	top:22px;
}
#e11_8 { 
	opacity:1;
	width:462.6142883300781px;
	height:139.86000061035156px;
	position:absolute;
	left:0px;
	top:12.095998764038086px;
	background-image:url(images/ebelle_copy.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_9 { 
	background-color:rgba(212.00000256299973, 162.00000554323196, 118.00000056624413, 1);
	opacity:1;
	width:461.4786071777344px;
	height:139.2591552734375px;
	position:absolute;
	left:1.1357181072235107px;
	top:12.095998764038086px;
}
#e11_10 { 
	opacity:1;
	width:462.6142578125px;
	height:139.86000061035156px;
	position:absolute;
	left:7.949999809265137px;
	top:12.095998764038086px;
	background-image:url(images/ebelle_copy_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_11 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:461.47857666015625px;
	height:139.2591552734375px;
	position:absolute;
	left:9.085718154907227px;
	top:12.095998764038086px;
}
#e18_3 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1442px;
	height:748px;
	position:absolute;
	left:0px;
	top:1036px;
}
#e18_5 { 
	background-color:rgba(231.00000143051147, 188.0000039935112, 145.00000655651093, 1);
	opacity:1;
	width:250px;
	height:75px;
	position:absolute;
	left:331px;
	top:1437px;
}
#e18_1 { 
	background-color:rgba(164.00000542402267, 113.00000086426735, 72.00000330805779, 1);
	opacity:1;
	width:476px;
	height:439px;
	position:absolute;
	left:842px;
	top:1217px;
}
#e18_0 { 
	background-color:rgba(212.00000256299973, 162.00000554323196, 118.00000056624413, 1);
	opacity:1;
	width:476px;
	height:439px;
	position:absolute;
	left:866px;
	top:1187px;
}
#e16_3 { 
	opacity:1;
	width:476px;
	height:439px;
	position:absolute;
	left:888px;
	top:1163px;
	background-image:url(images/e1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e16_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:682px;
	height:202px;
	position:absolute;
	left:682px;
	top:534px;
	font-family:Merriweather;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e16_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:232px;
	height:75px;
	position:absolute;
	left:907px;
	top:776px;
}
#e16_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:144px;
	height:37px;
	position:absolute;
	left:951px;
	top:795px;
	font-family:Merriweather;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e18_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:218px;
	height:34px;
	position:absolute;
	left:347px;
	top:1458px;
	font-family:Merriweather;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e18_4 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:702px;
	height:146px;
	position:absolute;
	left:105px;
	top:1264px;
	font-family:Merriweather;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e25_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity:1;
	width:476px;
	height:439px;
	position:absolute;
	left:105px;
	top:484px;
	background-image:url(images/eimg_8907_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
